#!/bin/bash

sudo kubeadm init \
--apiserver-advertise-address 192.168.56.101 > kubeadm-msg.txt 2>&1

sudo cp -i /etc/kubernetes/admin.conf {{ ansible_env.HOME }}/.kube/config

sudo chown $(id -u):$(id -g) {{ ansible_env.HOME }}/.kube/config
