#!/bin/bash

sudo kubeadm init \
--apiserver-advertise-address {{ controller_pub_ip }}  2>&1 | tee {{ kubeadm_msg }}

sudo cp /etc/kubernetes/admin.conf {{ ansible_env.HOME }}/.kube/config

sudo chown $(id -u):$(id -g) {{ ansible_env.HOME }}/.kube/config
